@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');
/* fonts i get are: Open Sans, Saira Stencil, Montserrat */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --a:0;
}

body{
    background-color: black;
    color: white;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: white;
  transform-origin: left;
  transform: scaleX(0);
  z-index: 999;
}

 .container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  }

.nav{
    position: absolute;
    top: 20px;
    right: 10px;
    height: 30vh;
    width: 7vw;
    display: flex;
    flex-direction: column;
}

.nav ul li {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

/* Browser pehle Montserrat try karega,
   agar wo load nahi hua toh generic sans-serif font use karega.
   Agar fallback (sans-serif) nahi diya toh browser apna default font use karega */

.nav ul li:hover{
    font-weight: 600;
    cursor: pointer;
}

.intro{
    align-items: center;
    padding: 80px 120px;
}

.para1{
    font-family: 'Saira Stencil', sans-serif;
    font-size: 15px;
    color: #71717a;
    font-size: 15px;
    margin-bottom: 40px;
}

.name{
    font-weight: 520;
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1.2;
}

a {
  margin-top: 50px;
  color: white;
  text-decoration: none; 
  font-family: 'Saira Stencil', sans-serif;
  font-size: 14px;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
  opacity: 0.5;
  --a:1;
}

a:active {
  color: white;
}

.none{
    opacity: var(--a);
}

.none:hover{
    opacity: var(--a);
}

#element{
    color: #00ffff;
    text-shadow: 0 0 8px rgba(0, 255, 255, 0.7);
}

.typed-cursor {
    display: none;
}
/* type.js animation ka karan ek extra cursor aa rha tha nicha to avoid this we use this */

  .about-section {
    align-items: center;
    padding: 80px 120px;
  }

  .small-title {
    color: #71717a;
    font-size: 14px;
    margin-bottom: 40px;
  }

  /* GRID */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  /* LEFT */
  h2 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.2;
  }

  .para_g {
    color: #a1a1aa;
    font-size: 18px;
    line-height: 1.6;
  }

  /* RIGHT */
  .right {
    border-left: 1px solid #27272a;
    padding-left: 30px;
  }

  .section-title {
    color: #71717a;
    margin-bottom: 15px;
    font-size: 14px;
  }

  ul {
    list-style: none;
    margin-bottom: 40px;
  }

  ul li {
    margin-bottom: 10px;
    color: #d4d4d8;
  }

  .current-text {
    color: #d4d4d8;
  }

  /* RESPONSIVE */
  @media (max-width: 768px) {
    .nav{
      display: none;
    }
    
    .about-section {
      padding: 60px 30px;
    }

    .grid {
      grid-template-columns: 1fr;
    }

    .right {
      border-left: none;
      padding-left: 0;
      margin-top: 40px;
    }

    .left h2 {
      font-size: 36px;
    }
  }

  .tech-section {
    align-items: center;
    padding: 80px 120px;
  }

  .skills{
    display: flex;
    align-items: center;
    padding-bottom: 80px;
  }

  .s_name{
    gap: 10px;
  }

  .s_name div{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: oklch(0.705 0.015 286.067);
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
  }

.tech {
  padding: 60px 80px;
}

.section-number {
  color: #888;
  margin-bottom: 10px;
  font-size: 14px;
}

.tech h1 {
  font-size: 48px;
  margin-bottom: 30px;
}

.category {
  color: #aaa;
  margin-bottom: 20px;
  font-weight: 400;
}

/* GRID */
.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  border: 1px solid #1f1f1f;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  background: #050505;
  transition: 0.3s;
}

.card:hover {
  border-color: #555;
  transform: translateY(-5px);
}

/* ICON */
.card img {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  filter: brightness(0) invert(1); /* white icon effect */
}

.card p {
  color: #bbb;
  font-size: 14px;
}



  

